{% extends "base.html" %}
{% comment %} <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Images</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
        </script>
    </head> {% endcomment %}
{% block content %}
    <body>
        <div class="col-md-12">
            <h1>Gallery</h1>
            <p><a href="{% url 'gallery:image_upload' %}">Upload more images</a></p>

        </div>
        {% if user.is_authenticated %}
        <h1>Your Posts</h1>
        {% for post in user_posts %}
        <div class="col-md-4">

            <p>{{ post.description }}</p>
            <a href={% url "gallery:detail" post.id %}><img src="{{ post.image.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" /></a>
            <p>Uploader:{{post.user.username}} </p>
        </div>
        {% endfor %}
        {% endif %}

    
        <h1>Posts by other users</h1>
        {% for post in rest_posts %}
        <div class="col-md-4">

            <p>{{ post.description }}</p>
            <a href={% url "gallery:detail" post.id %}><img src="{{ post.image.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" /></a>
            <p>Uploader:{{post.user.username}} </p>
        </div>
        {% endfor %}


    </body>
{% endblock %}
{% comment %} </html> {% endcomment %}
